body 
{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #AFEEEE;
}

header 
{
    background-color: #76B8CE;
    color: rgb(0, 0, 0);
    padding: 15px;
    border-top: solid thick;
    border-bottom: solid thick ;
    text-align: center;
}

.layout
{
    display: flex;
    height: calc(100vh - 60px);
}

.left-blocks-panel 
{
    width: 250px;
    background-color: #E5F7ED;
    padding: 15px;
    border-right: 2px solid #8facc4;
    border-bottom: 2px solid #8facc4;
}

.left-blocks-panel h2,
.workspace h2
{
    margin-top: 0;
}

.declare-block
{
    background-color:#76B8CE;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.declare-block:hover
{
    background-color: #e158aa;
    transform: scale(1.05);
}

.assign-block
{
    background-color:#76B8CE;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.assign-block:hover
{
    background-color: #e158aa;
    transform: scale(1.05);
}

.if-block
{
    background-color:#76B8CE;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.if-block:hover
{
    background-color: #e158aa;
    transform: scale(1.05);
}

.workspace 
{
    flex-grow: 1;
    padding: 20px;
}
.cards-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            max-width: 1200px;
            margin: 50px auto;
            padding: 0 20px;
        }
.flipcard {
    perspective: 1000px;
    width: 300px; 
    height: 400px;
    margin: 50px 11%;
    cursor: pointer;
}

.flipcard-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipcard:hover .flipcard-inner {
    transform:rotatey(180deg); 
}

.flipcardfront{
     position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: left;
    font-weight: 600;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    background: linear-gradient(210deg, #76B8CE, #026d70);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.flipcardback {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    gap: 1rem; 
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
    background: linear-gradient(210deg, #76B8CE, #026d70);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
    transform: rotateY(180deg);
}
.team-link {
    display: block;
    margin: 20px 0;  
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 7px;
    border-radius: 5px;
    transition: all 0.3s;
}

.team-link:hover {
    color: #AFEEEE;
    background: rgba(255,255,255,0.2);
    text-shadow: 0 0 10px #AFEEEE;
}

.start {
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 12px;
    border: none;
    background: linear-gradient(210deg, #57e2ad, #04614a);
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none; 
    transition:  0.3s;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.start:hover {
    background: linear-gradient(210deg, #46d89b, #03573d);
    color: #AFEEEE;
    transform: translateY(-3px);
    box-shadow: 0 12px 35px rgba(87, 226, 173, 0.4);
}
